<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='element-ui/index.css') }}">
    <style>
        .el-header,
        .el-footer {
            background-color: #ccced1;
            color: #333;
            text-align: center;
            line-height: 60px;
        }

        .el-aside {
            color: #333;
            text-align: center;
            line-height: 200px;
            min-width: 200px;
        }

        .el-main {
            color: #333;
            text-align: center;
            line-height: 40px;
        }

        body>.el-container {
            margin-bottom: 40px;
        }

        .el-container:nth-child(5) .el-aside,
        .el-container:nth-child(6) .el-aside {
            line-height: 260px;
        }

        .el-container:nth-child(7) .el-aside {
            line-height: 320px;
        }

        el-table {
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-container>
            <el-header height="100">
                <h1 v-text='"ROS系统("+wsAddress+")"'></h1>
            </el-header>
            <el-container>
                <el-aside width="auto">
                    <el-menu mode="vertical" style="height: 100%;">
                        <el-menu-item index="-1" @click="fun_idx=-1">首页</el-menu-item>
                        <el-menu-item index="0" @click="getParamsInfo">参数信息</el-menu-item>
                        <el-menu-item index="1" @click="getNodesInfo">节点信息</el-menu-item>
                        <el-menu-item index="2" @click="getTopicsInfo">Topic信息</el-menu-item>
                        <el-menu-item index="3" @click="getServicesInfo">Service信息</el-menu-item>
                        <el-menu-item index="4" @click="imageUIInit">实时图像</el-menu-item>
                        <el-menu-item index="5" @click="getRemoteInfo">远程遥控</el-menu-item>
                        <el-menu-item index="6" @click="fun_idx=6">日志输出</el-menu-item>
                    </el-menu>
                </el-aside>
                <el-main>
                    <div v-show='fun_idx == 0'>
                        <el-table :data="paramsData" height="800" border style="width: 100%"
                            @row-dblclick="getParamInfo">
                            <el-table-column prop="name" label="参数名称" width="400">
                            </el-table-column>
                            <el-table-column prop="value" label="参数值（双击可修改）">
                            </el-table-column>
                        </el-table>
                    </div>
                    <div v-show='fun_idx == 1'>
                        <div v-for="(item, idx) in nodesData" :key="idx">
                            <el-table :data="item" border style="width: 100%">
                                <el-table-column :label="nodesNameData[idx]">
                                    <el-table-column prop="subscrib" label="订阅" width="400">
                                    </el-table-column>
                                    <el-table-column prop="publish" label="发布" width="400">
                                    </el-table-column>
                                    <el-table-column prop="service" label="服务">
                                    </el-table-column>
                                </el-table-column>
                            </el-table>
                            <el-divider></el-divider>
                        </div>
                    </div>
                    <div v-show='fun_idx == 2'>
                        <el-table :data="topicsData" height="800" border style="width: 100%"
                            @row-dblclick="getTopicInfo">
                            <el-table-column prop="name" label="Topic名称" width="400">
                            </el-table-column>
                            <el-table-column prop="detail" label="消息类型（双击可查看详情）">
                            </el-table-column>
                        </el-table>
                    </div>
                    <div v-show='fun_idx == 3'>
                        <el-table :data="servicesData" height="800" border style="width: 100%"
                            @row-dblclick="getServiceInfo">
                            <el-table-column prop="name" label="Service名称" width="400">
                            </el-table-column>
                            <el-table-column prop="detail" label="服务类型（双击可查看详情）">
                            </el-table-column>
                        </el-table>
                    </div>
                    <div v-show='fun_idx == 4'>
                        <el-row  :gutter="20">
                            <el-col :span="12">
                                <el-row type="flex" justify="center" align="middle">
                                    <el-image id="imageStream" :src='"http://"+wsAddress+":8080/stream?topic=/result/vision/image"'>
                                    </el-image>
                                </el-row>
                                <el-row type="flex" justify="center" align="middle">
                                    <el-col :span="6">
                                        <el-select v-model="imageSendType" placeholder="请选择"
                                            @change="imageSendTypeChnage">
                                            <el-option v-for="(item, idx) in imageSendTypes" :key="idx"
                                                :label="item" :value="idx">
                                            </el-option>
                                        </el-select>
                                    </el-col>
                                    <el-col :span="6">
                                        <el-button :disabled='btnTrue' @click="drawCanvasImage">截取图片</el-button>
                                    </el-col>
                                </el-row>
                            </el-col>
                            <el-col :span="12">
                                <el-row type="flex" justify="center">
                                    <canvas id="imageCanvas" width="640" height="480"
                                        style="border:1px solid #d3d3d3;">该浏览器不支持canvas</canvas>
                                </el-row>
                                <el-row type="flex" justify="center" align="middle">
                                    <el-col :span="6">
                                        <el-select v-model="imageDebug" placeholder="请选择">
                                            <el-option v-for="(item, idx) in imageDebugs" :key="idx"
                                                :label="item" :value="idx">
                                            </el-option>
                                        </el-select>
                                    </el-col>
                                </el-row>
                            </el-col>
                        </el-row>
                    </div>
                    <div v-show='fun_idx == 5'>
                        <el-row :gutter="20">
                            <el-col :span="12">
                                <el-row type="flex" align="middle">
                                    <el-col :span="4">
                                        <span class="demonstration">前进量</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-slider v-model="xGain" :min="-40" :max="40"></el-slider>
                                    </el-col>
                                </el-row>
                                <el-row type="flex" align="middle">
                                    <el-col :span="4">
                                        <span class="demonstration">横移量</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-slider v-model="yGain" :min="-20" :max="20"></el-slider>
                                    </el-col>
                                </el-row>
                                <el-row type="flex" align="middle">
                                    <el-col :span="4">
                                        <span class="demonstration">偏转量</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-slider v-model="dGain" :min="-20" :max="20"></el-slider>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-button @click="changeWalkState" v-text="walkState?'停止':'开始'"></el-button>
                                </el-row>
                                <el-divider></el-divider>
                                <el-row type="flex" align="middle">
                                    <el-col :span="4">
                                        <span class="demonstration">俯仰角</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-slider v-model="headPitch" :min="-90" :max="90" @change="headChanged"></el-slider>
                                    </el-col>
                                </el-row>
                                <el-row type="flex" align="middle">
                                    <el-col :span="4">
                                        <span class="demonstration">航向角</span>
                                    </el-col>
                                    <el-col :span="20">
                                        <el-slider v-model="headYaw" :min="-120" :max="120" @change="headChanged"></el-slider>
                                    </el-col>
                                </el-row>
                                <el-divider></el-divider>
                                <el-row type="flex" align="middle">
                                    <el-col :span="4">
                                        <span class="demonstration">LED1</span>
                                    </el-col>
                                    <el-col :span="8">
                                        <el-switch
                                            style="display: block" v-model="led1State"
                                            active-color="#13ce66" inactive-color="#ff4949"
                                            active-text="开" inactive-text="关"
                                            @change="ledChanged">
                                        </el-switch>
                                    </el-col>
                                    <el-col :span="4">
                                        <span class="demonstration">LED2</span>
                                    </el-col>
                                    <el-col :span="8">
                                        <el-switch
                                            style="display: block" v-model="led2State"
                                            active-color="#13ce66" inactive-color="#ff4949"
                                            active-text="开" inactive-text="关"
                                            @change="ledChanged">
                                        </el-switch>
                                    </el-col>
                                </el-row>
                            </el-col>
                            <el-col :span="12">
                                <template>
                                    <el-table :data="actsData" height="400" border style="width: 60%"
                                        @row-dblclick="runAct">
                                        <el-table-column prop="name" label="动作名称（双击执行）">
                                        </el-table-column>
                                    </el-table>
                                </template>
                            </el-col>
                        </el-row>
                    </div>
                    <div v-show='fun_idx == 6'>
                        <el-table :data="logsData" height="600" border style="width: 100%">
                            <el-table-column prop="name" label="节点名称" width="400">
                            </el-table-column>
                            <el-table-column prop="log" label="日志内容">
                            </el-table-column>
                        </el-table>
                    </div>
                    <div v-show="fun_idx<0">
                        <img src="{{ url_for('static', filename='ros/ros.jpeg') }}"></img>
                    </div>
                </el-main>
            </el-container>
            <el-footer></el-footer>
        </el-container>

        <el-dialog title="参数修改" :visible.sync="paramDialogVisible">
            <el-input v-model="param_input">
                {% raw %}
                <template slot="prepend">{{ param_name }}</template>
                {% endraw %}
            </el-input>
            <div slot="footer" class="dialog-footer">
                <el-button @click="paramDialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="updateParam(param_name, param_input)">更 新</el-button>
            </div>
        </el-dialog>
        <el-dialog title="数据定义" :visible.sync="tsinfoDialogVisible">
            <p style="font-size: large;" v-html="tsinfo"></p>
        </el-dialog>
        <el-dialog title="WebSocket地址" :visible.sync="wsNotConnected">
            <el-input v-model="wsAddress">
                <template slot="prepend">ws://</template>
                <template slot="append">：9090</template>
            </el-input>
            <div slot="footer" class="dialog-footer">
                <el-button type="primary" @click="connectWS">连 接</el-button>
            </div>
        </el-dialog>
    </div>

</body>
<!-- import Vue before Element -->
<script type="text/javascript" src="{{ url_for('static', filename='vue/vue.js') }}"></script>
<!-- import JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='element-ui/index.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ros/eventemitter2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='ros/roslib.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jcanvas/jcanvas.min.js') }}"></script>

<script>
    window.onbeforeunload = function () {
        window.scrollTo(0, 0);
    };
    //连接ros
    var ros = new ROSLIB.Ros();
    var bodyTask = new ROSLIB.Topic({
        ros : ros,
        name : '/task/body',
        messageType : 'common/BodyTask'
    });
    var headTask = new ROSLIB.Topic({
        ros : ros,
        name : '/task/head',
        messageType : 'common/HeadTask'
    });
    var ledTask = new ROSLIB.Topic({
        ros : ros,
        name : '/task/led',
        messageType : 'common/LedTask'
    });

    var logListener = new ROSLIB.Topic({
        ros : ros,
        name : '/rosout',
        messageType : 'rosgraph_msgs/Log'
    });

    var setTypeService = new ROSLIB.Service({
        ros: ros,
        name: '/setting/sendtype',
        serviceType: 'common/SetInt'
    });

    var imgSnapService = new ROSLIB.Service({
        ros: ros,
        name: '/debug/image/snap',
        serviceType: 'common/ImageSnap'
    });

    var getActsService = new ROSLIB.Service({
        ros: ros,
        name: '/getactions',
        serviceType: 'common/GetActions'
    });

    var first = true;
    var app = new Vue({
        el: '#app',
        data: {
            btnTrue: false,
            wsNotConnected: true,
            wsAddress: '127.0.0.1',
            params: [],
            paramsData: [],
            param_name: '',
            param_input: '',
            paramDialogVisible: false,
            nodes: [],
            nodesData: [],
            nodesNameData: [],
            topicsData: [],
            servicesData: [],
            tsinfo: '',
            tsinfoDialogVisible: false,

            imageSendType: 0,
            imageSendTypes: ["None", "Source", "Result"],
            imageDebug: 0,
            imageDebugs: ["Green", "White"],
            //canvas
            jImageCanvas: null,
            dImageCanvas: null,
            imageLayer: "layerImage",
            crossLayer: ["layerCrossH", "layerCrossV"],
            tempLayer: "layerTemp",
            mousepressed: false,
            mousexs: 0,
            mouseys: 0,

            xGain: 0,
            yGain: 0,
            dGain: 0,
            walkState: false,
            headPitch: 0,
            headYaw: 0,
            led1State: false,
            led2State: false,
            actsData: [],

            logsData: [],

            fun_idx: -1
        },
        mounted: function () {
            this.initCanvas();
            window.setInterval(this.runWalk, 1000);
            this.subscribLog();
        },
        methods: {
            getMousePosInCanvas: function (e) {
                var rxe = e.clientX;
                var rye = e.clientY;
                //rxe += document.body.scrollLeft || document.documentElement.scrollLeft;
                //rye += document.body.scrollTop || document.documentElement.scrollTop;
                var canvasRect = this.dImageCanvas.getBoundingClientRect();
                rxe = rxe - canvasRect.left * (this.dImageCanvas.width / canvasRect.width);
                rye = rye - canvasRect.top * (this.dImageCanvas.height / canvasRect.height);
                return [parseInt(rxe), parseInt(rye)];
            },
            imageUIInit: function () {
                this.fun_idx = 4;
                let that=this;
                var p = new ROSLIB.Param({
                    ros: ros,
                    name: "image"
                });
                p.get(function (res) {
                    that.imageSendType = res;
                });
            },
            initCanvas: function () {
                var that = this;
                this.jImageCanvas = $("#imageCanvas");
                this.dImageCanvas = document.getElementById("imageCanvas");
                this.dImageCanvas.onmousemove = function (e) {
                    var pos = that.getMousePosInCanvas(e);
                    var color = '';
                    var penWidth = 1;
                    if (!that.mousepressed) {
                        color = "red";
                        var xe = pos[0];
                        var ye = pos[1];
                        that.jImageCanvas.removeLayer(that.crossLayer[0]);
                        that.jImageCanvas.addLayer({
                            type: 'line',
                            name: that.crossLayer[0],
                            strokeStyle: color,
                            strokeWidth: penWidth,
                            fromCenter: false,
                            x1: 0,
                            y1: ye,
                            x2: that.dImageCanvas.width,
                            y2: ye
                        });
                        that.jImageCanvas.removeLayer(that.crossLayer[1]);
                        that.jImageCanvas.addLayer({
                            type: 'line',
                            name: that.crossLayer[1],
                            strokeStyle: color,
                            strokeWidth: penWidth,
                            fromCenter: false,
                            x1: xe,
                            y1: 0,
                            x2: xe,
                            y2: that.dImageCanvas.height
                        });
                    } else {
                        color = 'blue';
                        width = pos[0] - that.mousexs;
                        height = pos[1] - that.mouseys;
                        that.jImageCanvas.removeLayer(that.tempLayer);
                        that.jImageCanvas.addLayer({
                            type: 'rectangle',
                            name: that.tempLayer,
                            strokeStyle: color,
                            strokeWidth: penWidth,
                            fromCenter: false,
                            x: that.mousexs,
                            y: that.mouseys,
                            width: width,
                            height: height
                        });
                    }
                    that.jImageCanvas.drawLayers();
                };
                this.dImageCanvas.onmouseleave = function (e) {
                    that.jImageCanvas.removeLayer(that.crossLayer[0]);
                    that.jImageCanvas.removeLayer(that.crossLayer[1]);
                    that.jImageCanvas.drawLayers();
                };
                this.dImageCanvas.onmousedown = function (e) {
                    var pos = that.getMousePosInCanvas(e);
                    that.mousexs = pos[0];
                    that.mouseys = pos[1];
                    that.jImageCanvas.removeLayer(that.crossLayer[0]);
                    that.jImageCanvas.removeLayer(that.crossLayer[1]);
                    that.mousepressed = true;
                };
                this.dImageCanvas.onmouseup = function (e) {

                    var color = 'blue';
                    var penWidth = 1;
                    var pos = that.getMousePosInCanvas(e);
                    width = Math.abs(pos[0] - that.mousexs);
                    height = Math.abs(pos[1] - that.mouseys);
                    that.mousepressed = false;
                    that.jImageCanvas.removeLayer(that.tempLayer);
                    if (width > 10 && height > 10) {
                        var request = new ROSLIB.ServiceRequest({
                            type: 0,
                            info: {
                                x: that.mousexs<pos[0]?that.mousexs:pos[0],
                                y: that.mouseys<pos[1]?that.mouseys:pos[0],
                                w: width,
                                h: height
                            }
                        });
                        imgSnapService.callService(request, function (result) {
                            console.log(result.data);
                        });
                    }
                    that.jImageCanvas.drawLayers();
                    that.jImageCanvas.saveCanvas();
                };
            },
            connectWS: function () {
                var that = this;
                ros.connect("ws://" + this.wsAddress + ":9090");
                ros.on('connection', function () {
                    that.wsNotConnected = false;
                });
                ros.on('error', function (error) {
                    alert('Error connecting to websocket server: ', error);
                    that.wsNotConnected = true;
                });
                ros.on('close', function () {
                    alert('Connection to websocket server closed.');
                    that.wsNotConnected = true;
                });
            },
            getParamsInfo: function () {
                var that = this;
                this.fun_idx = 0;
                this.paramsData = [];
                ros.getParams(function (data) {
                    that.params = [];
                    data.forEach((item, index, arr) => {
                        if (item.indexOf("rosbridge_websocket") < 0 &&
                            item.indexOf("rosapi") < 0 &&
                            item.indexOf("roslaunch") < 0) {
                            that.params.push(item);
                        }
                    });
                    that.params.forEach((item, index, arr) => {
                        var p = new ROSLIB.Param({
                            ros: ros,
                            name: item
                        });
                        p.get(function (res) {
                            that.paramsData.push({
                                name: item,
                                value: res.toString()
                            });
                        });
                    });
                });
            },
            getParamInfo: function (row, column, event) {
                this.param_name = row.name;
                this.param_input = row.value;
                this.paramDialogVisible = true;
            },
            updateParam: function (pname, pvalue) {
                var p = new ROSLIB.Param({
                    ros: ros,
                    name: pname
                });
                p.set(pvalue);
                this.paramDialogVisible = false;
                this.getParamsInfo();
            },
            getNodesInfo: function () {
                var that = this;
                this.fun_idx = 1;
                this.nodesData = [];
                this.nodesNameData = [];
                ros.getNodes(function (data) {
                    that.nodes = [];
                    data.forEach((item, index, arr) => {
                        if (item.indexOf("rosbridge_websocket") < 0 &&
                            item.indexOf("rosapi") < 0 &&
                            item.indexOf("rosout") < 0) {
                            that.nodes.push(item);
                        }
                    });
                    that.nodes.forEach((item, index, arr) => {
                        ros.getNodeDetails(item, function (params) {
                            //console.log(params);
                            for (let i = 0; i < params.services.length;) {
                                if (params.services[i].indexOf("get_loggers") > 0 ||
                                    params.services[i].indexOf("set_logger_level") >
                                    0) {
                                    params.services.splice(i, 1);
                                    continue;
                                }
                                i++;
                            }
                            for (let i = 0; i < params.publishing.length;) {
                                if (params.publishing[i].indexOf("rosout") > 0) {
                                    params.publishing.splice(i, 1);
                                    continue;
                                }
                                i++;
                            }
                            var svl = params.services.length;
                            var sl = params.subscribing.length;
                            var pl = params.publishing.length;
                            var l = svl > sl ? (svl > pl ? svl : pl) : (sl > pl ?
                                sl : pl);
                            var tmp = [];
                            for (let i = 0; i < l; i++) {
                                var tobj = {};
                                if (i < svl) tobj['service'] = params.services[i];
                                else tobj['service'] = "";
                                if (i < sl) tobj['subscrib'] = params.subscribing[
                                    i];
                                else tobj['subscrib'] = "";
                                if (i < pl) tobj['publish'] = params.publishing[i];
                                else tobj['publish'] = "";
                                //console.log("###########################################");
                                //console.log(tobj);
                                tmp.push(tobj);
                            }
                            //console.log(tmp);
                            that.nodesData.push(tmp);
                            that.nodesNameData.push(item);
                        });
                    });
                });
            },
            getTopicsInfo: function () {
                var that = this;
                this.fun_idx = 2;
                this.topicsData = [];
                ros.getTopics(function (data) {
                    for (let i = 0; i < data.topics.length; i++) {
                        if (data.topics[i].indexOf("rosout") < 0) {
                            that.topicsData.push({
                                name: data.topics[i],
                                detail: data.types[i]
                            });
                        }
                    }
                });
            },
            getTopicInfo: function (row, column, event) {
                var that = this;
                this.tsinfo = '';
                ros.getMessageDetails(row.detail, function (data) {
                    var tmp = '';
                    for (let i = 0; i < data[0].fieldtypes.length; i++) {
                        tmp += (data[0].fieldtypes[i] + ' ' + data[0].fieldnames[i] + '<br>');
                    }
                    that.tsinfo = tmp;
                    that.tsinfoDialogVisible = true;
                });
            },
            getServicesInfo: function () {
                var that = this;
                this.fun_idx = 3;
                this.servicesData = [];
                ros.getServices(function (data) {
                    data.forEach((item, index, arr) => {
                        if (item.indexOf("rosbridge_websocket") < 0 &&
                            item.indexOf("rosapi") < 0 &&
                            item.indexOf("rosout") < 0 &&
                            item.indexOf("get_loggers") < 0 &&
                            item.indexOf("set_logger_level") < 0) {
                            ros.getServiceType(item, function (res) {
                                that.servicesData.push({
                                    name: item,
                                    detail: res
                                });
                            });
                        }
                    });
                });
            },
            getServiceInfo: function (row, column, event) {
                var that = this;
                this.tsinfo = '';
                var tmp = '';
                ros.getServiceRequestDetails(row.detail, function (data) {
                    console.log(data);
                    for (let i = 0; i < data.typedefs[0].fieldtypes.length; i++) {
                        tmp += data.typedefs[0].fieldtypes[i];
                        if (data.typedefs[0].fieldarraylen[0] >= 0) tmp += '[]';
                        tmp += (' ' + data.typedefs[0].fieldnames[i] + '<br>');
                    }
                    tmp += '---<br>';
                    ros.getServiceResponseDetails(row.detail, function (data) {
                        for (let i = 0; i < data.typedefs[0].fieldtypes.length; i++) {
                            tmp += data.typedefs[0].fieldtypes[i];
                            if (data.typedefs[0].fieldarraylen[0] >= 0) tmp += '[]';
                            tmp += (' ' + data.typedefs[0].fieldnames[i] + '<br>');
                        }
                        that.tsinfo = tmp;
                        that.tsinfoDialogVisible = true;
                    });
                });
            },
            drawCanvasImage: function () {
                var that = this;
                $.get('/snap', {
                    address: this.wsAddress
                }, function (response, status, xhr) {
                    //console.log(response);
                    that.jImageCanvas.removeLayer(that.imageLayer);  
                    that.jImageCanvas.addLayer({
                        type: 'image',
                        name: that.imageLayer,
                        source: response.name,
                        x: 0,
                        y: 0,
                        fromCenter: false
                    });
                    that.jImageCanvas.drawLayers();
                    that.jImageCanvas.saveCanvas();
                });
                //this.btnTrue = true;
                //this.jImageCanvas.removeLayer(this.imageLayer);
                //setTimeout(this.draw, 100);
            },
            draw: function () {
                let that = this;
                this.jImageCanvas.addLayer({
                    type: 'image',
                    name: this.imageLayer,
                    source: $('#imageStream')[0],
                    x: 0,
                    y: 0,
                    fromCenter: false
                });
                this.jImageCanvas.drawLayers();
                this.jImageCanvas.saveCanvas();
                setTimeout(() => {
                    that.btnTrue = false;
                }, 5000);
            },
            imageSendTypeChnage: function (e) {
                // Calling a service
                var request = new ROSLIB.ServiceRequest({
                    number: e
                });
                setTypeService.callService(request, function (result) {});
            },
            getRemoteInfo: function () {
                this.fun_idx = 5;
                var that = this;
                this.actsData = [];
                // Calling a service
                var request = new ROSLIB.ServiceRequest({});
                getActsService.callService(request, function (res) {
                    for (let i = 0; i < res.actions.length; i++)
                        that.actsData.push({
                            name: res.actions[i]
                        });
                });
            },
            runWalk: function(){
                let that = this;
                if(this.walkState){
                    let task = new ROSLIB.Message({
                        type: 1,
                        actname: '',
                        step: that.xGain/1000.0,
                        lateral: that.yGain/1000.0,
                        turn: that.dGain,
                        count: 2
                    });
                    bodyTask.publish(task);
                }
            },
            changeWalkState: function () {
                this.walkState = !this.walkState;
            },
            headChanged: function(val){
                let that = this;
                let task = new ROSLIB.Message({
                    mode: 3,
                    yaw: that.headYaw*1.0,
                    pitch: that.headPitch*1.0
                });
                headTask.publish(task);
            },
            ledChanged: function(val){
                let that = this;
                let task = new ROSLIB.Message({
                    led1: that.led1State,
                    led2: that.led2State
                });
                ledTask.publish(task);
            },
            runAct: function (row, column, event) {
                this.walkState = false;
                let task = new ROSLIB.Message({
                    type: 2,
                    actname: row.name,
                    step: 0.0,
                    lateral: 0.0,
                    turn: 0.0,
                    count: 1
                });
                bodyTask.publish(task);
            },
            subscribLog: function(){
                let that = this;
                logListener.subscribe(function(message) {
                    that.logsData.unshift({name: message.name, log: message.msg});
                });
            }
        }
    });
</script>

</html>